/* General Website Style rules */
body {
    font-family: "Helvetica", Sans-Serif;
    background-image: linear-gradient(90deg, gainsboro 0%, thistle 100%);
    background-repeat: repeat-x;
}
 
/*Page Title*/
.page-title {
    color: darkslateblue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

/*Page Subtitle*/
.page-subtitle {
    color: darkslateblue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

/*Section Header*/
.section-header {
    color: darkslateblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left
}

/*Header Text*/
.about-me {
    color: darkslateblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.portrait-img {
    border-radius: 25px 0 25px 0;
    border: 5px solid steelblue;
    margin: 50px;
    float: right;
}

.other-img {
    border-radius: 5%;
    border: 10px solid #543034;
    margin: 50px;
    float: right;
}

.div-1 {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 15px solid steelblue;
    text-align: center;
}

.div-nav {
    float: left;
    font-size: 20px;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px inset;
}
.div-2 {
    float: left;
    width: 35%;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.div-3 {
    
    padding-bottom: 10px;
    padding-top: 30px;
    
    text-align: center;
}

/*  Section 3  */
.section-heading {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #543034;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

/* Sizing for Project Containers  */
.column-4 {
    float: left;
    width: 90px;
    padding: 10px;
    margin: 20px;
    height: 90px;
}

/* Colors and Hovers for Project Containers  */
.project-1 {
    background-color: steelblue;
}

.project-2 {
    background-color: steelblue;
}

.project-3 {
    background-color: #steelblue;
}

.project-4 {
    background-color: #steelblue;
}

.project-text {
    color: darkslategrey;
    text-align: center;
    font-size: 20px;
}

.project-1:hover {
    background-color: lightsteelblue;
}

.project-2:hover {
    background-color: lightsteelblue;
}

.project-3:hover {
    background-color: lightsteelblue;
}

.project-4:hover {
    background-color: lightsteelblue;
}

/* Add space between sections */
.section-break {
    margin: 50px;
    height: 350px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}
